/* scrollbars styles */
main ::-webkit-scrollbar {
    width: 6px;
}

/* Track */
main ::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 70px;
    margin-bottom: 0px;
    border-radius: 0px;
}

/* Handle */
main ::-webkit-scrollbar-thumb {
    background: #b6b6b6;
    border-radius: 6px;
    margin-top: 57px;
}

/* Handle on hover */
main ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}